body {
  font-family: Arial, sans-serif;
}

.calculadora {
  width: 400px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
}

.calculadora input {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calculadora button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calculadora .numeros {
  background-color: #4CAF50;
  color: #fff;
}

.calculadora .operadores {
  background-color: #FF5722;
  color: #fff;
}

.calculadora button:hover {
  background-color: #ddd;
}

.calculadora button:active {
  background-color: #ccc;
}
